html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Container for the content */
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Content box */
  .content {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px;
    margin: 0;
    background-color: #f190e0;
    border-radius: 8px;
  }